<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoSchool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home", new { area = String.Empty })">
                            <img src="@Url.Content("~/Content/img/logo.png")" />
                        </a>
                    </div>
                </div>
                
                <div class="col-md-8">
                    <div class="header_right_block fright">
                    <div class="fleft topbar">
                        @Html.Partial("_LoginPartial")
                    </div>
                    <div class="fleft input-group">
                            @using (Ajax.BeginForm("Search", "Home", new AjaxOptions{ HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "glossary"}))
                            {
                                <input id="search" class="form-control" name="text" type="text" value="Search in Glossary" onfocus="if (this.value == 'Search in Glossary') this.value = '';" onblur="if (this.value == '') this.value = 'Search in Glossary';" />
                                <span class="input-group-addon">
                                    <button id="spyglass" class="glyphicon glyphicon-search" type="submit"></button>
                                </span>
                            }
                        </div>
                    <div class="widget">
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="fleft follow_us">
                        <ul>
                            <li><a href="https://www.facebook.com/" class="facebook">Facebook</a></li>
                            <li><a href=https://plus.google.com/ class="gplus">Google+</a></li>
                            <li><a href="https://twitter.com/" class="twitter">Twitter</a></li>
                        </ul>
                    </div>
                    <div class="col-md-9 custom">
                        <nav id="main_menu">
                            <div class="menu_wrap">
                                <ul class="nav sf-menu">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li>@Html.ActionLink("Admin", "Navigation", "Home", new { area = "Administration" }, new { })</li>
                                    }
                                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = String.Empty }, new { })</li>
                                    <li>@Html.ActionLink("Shutter Speed", "ShutterSpeedSettings", "Settings", new { area = String.Empty }, new { })</li>
                                    <li>@Html.ActionLink("Aperture", "ApertureSettings", "Settings", new { area = String.Empty }, new { })</li>
                                    <li>@Html.ActionLink("Exposure", "ExposureSettings", "Settings", new { area = String.Empty }, new { })</li>
                                    <li>@Html.ActionLink("ISO", "IsoSettings", "Settings", new { area = String.Empty }, new { })</li>
                                    <li>@Html.ActionLink("Examples", "AllPhotos", "Photos", new { area = String.Empty }, new { })</li>
                                    <li>@Html.ActionLink("Glossary", "AllWords", "Glosary", new { area = String.Empty }, new { })</li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
        </div>
    </div>
     @*TO DO fix container*@
    <div class="wrap container" id="glossary">
    </div>
        @RenderBody()
    <div class="wrap planning">
        <div class="container">
            <div class="row box-shadow">
                <div class="col-md-3 col-sm-6">
                    <a href="@Url.Action("AllTips", "Tip", new { area = String.Empty })">
                        <span class="img_icon icon1"></span>
                        <span class="link_title">I want to learn</span>
                        Learn more about your camera's settings and and how simple adjustments create beautiful photo effects!
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("PlayPhoto", "Play", new { area = "Play" })">
                            <span class="img_icon icon2"></span>
                            <span class="link_title">I want to try</span>
                            Adjust camera settings, take the shot and get feedback.
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account")">
                            <span class="img_icon icon2"></span>
                            <span class="link_title">I want to try</span>
                            Adjust camera settings, take the shot and get feedback.
                        </a>
                    }
                                                
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="@Url.Action("AllTips", "Tip", new { area = String.Empty })">
                        <span class="img_icon icon3"></span>
                        <span class="link_title">I want to win</span>
                        Test yourself as we challenge you to prove what you have learnt and take part in our contest!
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="@Url.Action("Contact", "Home", new { area = String.Empty })">
                        <span class="img_icon icon4"></span>
                        <span class="link_title">I want to contact</span>
                        Share your thoughts and let us know what we can do better!
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div>
                        <div class="copyright">All rights reserved&copy; 2014 Vanina Nenova</div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
