<div class="page_container">
    <div class="container">
        <h2 class="text-center text-uppercase">Welcome to the admin panel!</h2>
        <div class="row top-bottom-space">
            <div class="col-md-3">
                <a href="@Url.Action("AllWords", "GlossaryAdmin", new { area = "Administration" })">
                    <img src="@Url.Content("~/Content/img/glossary.png")" width="100px" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("AllContests", "ContestsAdmin", new { area = "Administration" })">
                    <img src="@Url.Content("~/Content/img/contests.png")" width="100px" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("AllPhotos", "PhotosAdmin", new { area = "Administration" })">
                    <img src="@Url.Content("~/Content/img/gallery.png")" width="100px" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("AllUsers", "UsersAdmin", new { area = "Administration" })">
                    <img src="@Url.Content("~/Content/img/users.jpg")" width="100px" />
                </a>
            </div>
        </div>
    </div>
</div>
