@{
    ViewBag.Title = "Home Page";
}

<!--page_container-->
<div class="page_container">
    <div class="wrap main_bg">
        <div class="row">
            <div class="col-md-12">            
                <nav id="main_menu">
                    <div class="menu_wrap">
                        <ul class="nav sf-menu">
                            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>*@
                            <li>@Html.ActionLink("Shutter Speed", "Index", "Home")</li>
                            <li>@Html.ActionLink("Aperture", "About", "Home")</li>
                            <li>@Html.ActionLink("Exposure", "Index", "Home")</li>
                            <li>@Html.ActionLink("ISO", "About", "Home")</li>
                            <li>@Html.ActionLink("Glossary", "About", "Home")</li>
                            @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="wrap planning">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <span class="img_icon icon1"></span>
                        <span class="link_title">I want to learn</span>
                        Learn more about your camera's settings and visual effects!
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <span class="img_icon icon2"></span>
                        <span class="link_title">I want to try</span>
                        Play with our online camera to test your skills.
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <span class="img_icon icon3"></span>
                        <span class="link_title">I want to win</span>
                        We challenge you to prove what you have learnt and take part in our contest!
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <span class="img_icon icon4"></span>
                        <span class="link_title">I want to join</span>
                        Join our forum community to share your experience.
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>